{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  
<section id="landing" class="d-flex justify-content-center d-flex align-items-center text-center h-100 d-inline-block" style="background: url({% static 'img/hero-dog.c39dfa3c0c88.png' %}) center center/cover no-repeat">
    <div class="col d-grid gap-2 d-md-block m-5">  
        <h1 class="display-1 text-white font-weight-bold rounded p-1"><strong>Kennel 39</strong></h1>
        <h4 class="text-white rounded p-1"><em>Superior Dog Grooming</em></h5>
        <h6 class="text-white rounded p-1"><em>Est. 2022</em></h6>
    
        <!-- Code 3 Call to Action(CTA) buttons, Our Services, Join Us, Book Now -->
        <a class="btn btn-primary" href="{% url 'services' %}" role="button">Our Services</a>
        <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">Join Us</a>
        <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">Members</a>
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'bookings' %}" role="button">Book Now</a>
        {% endif %}
    </div>
</section>

{% endblock %}