/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant:ital,wght@1,300&family=Montserrat&display=swap');

/* General */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Mystery Machine Colours*/
/* Hex # to RGB conversion using https://www.rapidtables.com/convert/color/hex-to-rgb.html*/
:root {
    /* blue 50C4F2 */
    --theme-one: 80, 196, 242;
    /* bright green 95D904 */
    --theme-two: 149, 217, 4;
    /* dark green 97BF04 */
    --theme-three: 151, 191, 4;
    /* dark cream D9D0BF*/
    --theme-four: 217, 208, 191;
    /* bright orange F22C05 */
    --theme-five: 242, 44, 5;
}

/* Body */
html {
    scroll-behavior: smooth;

}

body {
    padding-bottom: 100px;
    /* Footer height */
    height: 100vh;
    width: 100vw;
}

/* Header */
header {
    top: 0;
    left: 0;
}

/* Footer */
footer {
    height: 100px;
    width: 100vw;
    bottom: 0;
    left: 0;
}