/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Square+Peg&display=swap');

/* general */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Mystery Machine Colours*/
/* hex # to RGB conversion using https://www.rapidtables.com/convert/color/hex-to-rgb.html*/
:root {
    /* blue 50C4F2 */
    --theme-one: 80, 196, 242;
    /* bright green 95D904 */
    --theme-two: 149, 217, 4;
    /* dark green 97BF04 */
    --theme-three: 151, 191, 4;
    /* dark cream D9D0BF*/
    --theme-four: 217, 208, 191;
    /* bright orange F25C05 */
    --theme-five: 242, 44, 5;
}

/* html */
html {
    scroll-behavior: smooth;
}

/* body */
body {
    font-family: 'Montserrat', sans-serif, 'Caveat', 'Square Peg', cursive;
}

/* message alerts in header */
.alert {
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-radius: 0;
}

/* text, header and card styling */

.card {
    width: 18rem;
    height: 220px;
    border: 3px solid black;
}

h1,
.card-title {
    color: rgba(var(--theme-three), 1);
}

em>strong,
#current-user,
.card-subtitle {
    color: rgba(var(--theme-five), 1);
    font-family: 'Square Peg', cursive;
    font-size: xx-large;
}

#service-types {
    background: rgba(var(--theme-four), 1);
}

/* footer */
footer {
    height: 100px;
    text-align: center;
    background-color: white;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.footer-content a {
    color: rgba(var(--theme-one), 1)
}

.footer-content a:hover {
    color: rgba(var(--theme-five), 1);
}

/* general buttons */
.btn {
    background: rgba(var(--theme-one), 1);
    border: 3px solid black;
    color: black;
    min-width: 200px
}

.btn:hover {
    background: rgba(var(--theme-five), 1);
    border: 3px solid rgba(var(--theme-two), 1);
    color: black;
}

/* booking table */
#view-booking-table tbody tr:hover {
    background-color: rgba(var(--theme-five), 1);
}

#view-booking-table td>a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

#view-booking-table td a:hover {
    background-color: rgba(var(--theme-two), 1);
    border-radius: 3px;
    padding: 3px 0;
}

#view-booking-table td button a {
    text-decoration: none;
    color: black;
}

#help {
    color: rgba(var(--theme-five), 1);
}

/* remove hover effects from title row in booking table */
#view-booking-table tr:first-child {
    background-color: white;
    color: black;
    border-top: none;
    border-bottom: none;
}

/* cancel booking modal */
.modal-content {
    color: black;
    border: 3px solid black;
    border-radius: 10px;
}

.modal-header {
    background: rgba(var(--theme-four), 1);
}

.modal-body span {
    color: rgba(var(--theme-five), 1);
    font-weight: 500;
}

/* view booking datepicker */
.ui-datepicker {
    background-color: rgba(var(--theme-three), 1);
}

.ui-datepicker-header {
    background-color: rgba(var(--theme-one), 1);
}

.ui-widget-content .ui-state-default {
    border: 1px;
    text-align: center;
    background: rgba(var(--theme-four), 1);
    font-weight: normal;
    color: black;
    border-radius: 10%;
}

.ui-widget-content .ui-state-default:hover {
    border: 1px solid rgba(var(--theme-four), 1);
    text-align: center;
    background: rgba(var(--theme-five), 1);
}

.ui-widget-content .ui-state-active {
    border: 1px solid black;
    background: rgba(var(--theme-one), 1);
    font-weight: bold;
}

/* carousel */
.carousel-item {
    height: 635px;
    overflow: hidden;
}

/* create and edit booking forms */
#booking-form-container {
    border: 3px solid black;
    border-radius: 10px;
}

#booking-form p {
    text-align: left;
}

#booking-form p label {
    text-align: right;
    width: 150px;
}

#booking-form p input {
    text-align: left;
    width: 150px;
}

#booking-form a,
#booking-form button {
    width: 100%;
}

input[type=text] {
    color: rgba(var(--theme-five), 1);
}

/* set alert buttons above narbar element in header */
#alert-button {
    z-index: 1031;
}

/* media queries */
/* hide carousel on resolutions smaller than a tablet */
@media screen and (max-width: 767px) {
    .services-carousel {
        display: none !important;
    }
}

/* media queries */
/* reduce table footprint on resolutions smaller than a tablet -
Credit to Codepen https://codepen.io/team/css-tricks/pen/wXgJww?editors=1100 */
@media screen and (max-width: 767px) {

    table {
        margin-top: 2em;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: right;
    }

    /* Label the data */
    td:nth-of-type(1):before {
        content: "Client: ";
    }

    td:nth-of-type(2):before {
        content: "Pet's Name: ";
    }

    td:nth-of-type(3):before {
        content: "Date: ";
    }

    td:nth-of-type(4):before {
        content: "Time: ";
    }

    td:nth-of-type(5):before {
        content: "Service Type: ";
    }
}