/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant:ital,wght@1,300&family=Montserrat&display=swap');

/* General */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Mystery Machine Colours*/
/* Hex # to RGB conversion using https://www.rapidtables.com/convert/color/hex-to-rgb.html*/
:root {
/* blue 50C4F2 */
--theme-one: 80, 196, 242;
/* bright green 95D904 */
--theme-two: 149, 217, 4;
/* dark green 97BF04 */
--theme-three: 151, 191, 4;
/* dark cream D9D0BF*/
--theme-four: 217, 208, 191;
/* bright orange F25C05 */
--theme-five: 242, 44, 5;
}

/* Body */
html {
    scroll-behavior: smooth;

}

body {
    /* padding-bottom: 100px; */
    /* Footer height */
    height: 100vh;
    width: 100vw;
}

/* Header */
header {
    top: 0;
    left: 0;
}

/* Footer */
footer {
position:fixed;
height: 100px;
width: 100vw;
bottom: 0;
left: 0;
}

.footer-content {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
background: white;
border-radius: 10px;
padding: 0 8px;
}

/* Tables */
#view-booking-table {
margin-top: 1em;
}

#view-booking-table th {
color: black;
}

#view-booking-table td {
    border: 1px solid black;
    padding: 3px;
}

#view-booking-table tr:nth-child(even) {
    background-color: rgba(var(--theme-three), 1);
    color: black;
}

#view-booking-table tr:hover {
    background-color: rgba(var(--theme-five), 1);
    color: white;
}

/* Carousel images */
.carousel-item {
    height: 630px;
    overflow: hidden;
}

/* Datepicker */
.ui-datepicker {
background-color: rgba(var(--theme-three), 1);
}

.ui-datepicker-header {
background-color: rgba(var(--theme-one), 1);
}

.ui-datepicker-title {
color: white;
}

.ui-datepicker-calendar{
    color: white;
}

.ui-widget-content .ui-state-default {
border: 1px;
text-align: center;
background: rgba(var(--theme-four), 1);
font-weight: normal;
color: black;
}

.ui-widget-content .ui-state-default:hover {
border: 1px ;
text-align: center;
background: rgba(var(--theme-five), 1);
font-weight: normal;
color: white;
}

.ui-widget-content .ui-state-active {
border: 0px;
background: rgba(var(--theme-three), 1);
color: white;
}

/* Buttons */
.btn {
background: rgba(var(--theme-one), 1);
border: 3px solid black;
color: white;
}

.btn:hover {
background: rgba(var(--theme-two), 1);
border: 3px solid black;
color: rgba(var(--theme-five), 1);
}

td a {
text-decoration: none;
}

td a:hover {
text-decoration: none;
color: white;
}