{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="d-flex flex-column justify-content-center align-items-center text-center h-100"> 
    <div class="row">
        <div class="col">
            <p>EDIT BOOKING</p>
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <p>
                    <button class="btn btn-primary" type="submit" role="button">Update</button>
                </p>
            </form>
        </div>
    </div>
        
</section>

{% endblock %}