{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="d-flex flex-column justify-content-start align-items-center text-center min-vh-100 mb-6">
    <div class="row">
        <div class="col">
            <h1>Current Bookings</h1>
            <p>Hello <strong id="current-user">{{ user }}</strong></p>
            <p>Confirmed bookings for the following year are displayed below.</p>
            <p>Filter by date: <input type="text" id="datepicker"> <span id="help" data-bs-toggle="modal"
                    data-bs-target="#help-modal"><i class="fas fa-question-circle"></i></span></p>

            <!-- Include a modal with instructions on how to use the site and link to help favicon -->
            <div class="modal fade" id="help-modal" tabindex="-1" aria-labelledby="help-modal" aria-hidden="true">

                <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-scrollable modal-dialog-centered"
                    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">How to use our site</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h4>Booking Times</h4>
                            <p>We work on weekdays only.</p>
                            <p>Appointments are available on the hour from 8am to 4pm.</p>
                            <p>We are a small business so can only take one client at a time!</p>
                            <hr>
                            <h4>Daily Appointments View</h4>
                            <p>Use the calendar to view our existing appointments for a given day.</p>
                            <p>To help with regular grooming sessions for your dog we can accept bookings up to
                                12 months in advance!</p>
                            <hr>
                            <h4>Show My Appointments</h4>
                            <p>Need to check your scheduled bookings at a glance? No problem!</p>
                            <p>Toggle between seeing all bookings or just your own using the
                                <span>Show All</span> and <span>My Bookings</span> buttons.</p>
                            <hr>
                            <h4>Make an Appointment</h4>
                            <p>Click the <span>Book Now</span> button and complete our easy to use form.</p>
                            <p>When you confirm your information, a message will appear on the top of the screen to tell
                                you if your booking was successful
                                or if it was already taken. Try for a different time.</p>
                            <hr>
                            <h4>Change an Appointment</h4>
                            <p>Click the <span>Edit</span> link beside your booking record and complete our easy to use
                                form.</p>
                            <p>When you confirm your information, a message will appear on the top of the screen to tell
                                you if your booking was successful
                                or if it was already taken. Try for a different time.</p>
                            <p>You can only change your own bookings otherwise as we work on a first come first
                                served basis. You wouldn't want someone else changing your plans would you?</p>
                            <hr>
                            <h4>Cancel an Appointment</h4>
                            <p>Click the <span>Cancel</span> link beside your booking record and complete our easy to
                                use form.
                            </p>
                            <p>A box will appear containing your appointment details for you to review.</p>
                            <p>Are you sure you want to cancel or did you select cancel by mistake?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <a class="btn" href="{% url 'create_booking' %}" role="button">Book Now</a>
            <button id="refresh-table" class="btn" role="button">Show all</button>
            <button id="table-filter-user" class="btn" role="button">My Bookings</button>
            <!-- Booking table -->
            <table id="view-booking-table">
                <th>User</th>
                <th>Pet's Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Service Type</th>
                {% for booking in bookings %}
                <tr class="booking-row">
                    <!--if superuser or staff user show all booking fields -->
                    {% if request.user.is_superuser or request.user.is_staff %}
                    <td>{{ booking.user }}</td>
                    {% else %}
                    <!-- if standard user is authenticated show their username but anonymize other usernames names -->
                    {% if booking.user == request.user %}
                    <td>{{ booking.user }}</td>
                    {% else %}
                    <td>*****</td>
                    {% endif %}
                    {% endif %}
                    <!-- always show these fields -->
                    <td>{{ booking.pet_name }}</td>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.start_time }}</td>
                    <td>{{ booking.service_type }}</td>
                    <!--apply an edit & cancel link to each row if superuser staff user the user.
                     or if current standard user created the record-->
                    {% if request.user.is_superuser or request.user.is_staff or booking.user == request.user %}
                    <td>
                        <a href="{% url 'edit_booking' booking.id %}">Edit</a>
                    </td>
                    <td>
                        <a data-bs-toggle="modal" data-bs-target="#modal-cancel-{{ forloop.counter }}">
                            Cancel
                        </a>
                        <!-- modal cancellation confirmation -->
                        <div class="modal fade" id="modal-cancel-{{ forloop.counter }}" tabindex="-1"
                            aria-labelledby="modal-cancel-label-{{ forloop.counter }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-cancel-label-{{ forloop.counter }}">
                                            Cancel Booking for {{ booking.pet_name }}?
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to cancel the booking for
                                        <span>{{ booking.pet_name }}</span> on {{ booking.date }} at
                                        {{ booking.start_time }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-bs-dismiss="modal">No</button>
                                        <button type="button" class="btn"><a
                                                href="{% url 'cancel_booking' booking.id %}">Yes</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td>There are no booked appointments</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}