{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="d-flex flex-column justify-content-center align-items-center text-center h-100"> 
    <div class="row">
        <div class="col">
            <p>VIEW BOOKING</p>
            <p>Date: <input type="text" id="datepicker"></p>
            <a class="btn btn-primary" href="{% url 'create_booking' %}" role="button">Book Now</a>
            
            <table id="view-booking-table">
                <th>User</th>
                <th>Pet's Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Service Type</th>
                <th>Edit</th>
                <th>Cancel</th>

                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.user }}</td>  <!-- mask user name for privacy or simply remove this filed from rendered template... -->
                    <td>{{ booking.pet_name }}</td>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.start_time }}</td>
                    <td>{{ booking.service_type }}</td>
                    <!--apply an edit button to each row-->
                    <td>
                        <a href="{% url 'edit_booking' booking.id %}">Edit</a>
                    </td>
                    <!--apply a cancel button to each row-->
                    <td>
                        <!-- <a href="{% url 'cancel_booking' booking.id %}">Cancel</a> -->
                        <a data-bs-toggle="modal" data-bs-target="#modal-cancel-{{ forloop.counter }}">
                            Cancel
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>There are no booked appointments</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}