<footer class="d-flex align-items-center d-flex justify-content-center flex-column">
    <!-- Scroll to Top Button-->
    <!-- <section>
        <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </section> -->
    
    <!-- Social links -->
    <section class="footer-content">
        <section>
            <a href="https://www.facebook.com/" target="_blank"
                        rel="noopener" aria-label="Visit the Kennel 39 Facebook page (opens in a new tab)">
                        <i class="fab fa-facebook-f"></i></a>

            <a href="https://www.linkedin.com/" target="_blank"
                        rel="noopener" aria-label="Visit the Kennel 39 LinkedIn page (opens in a new tab)">
                        <i class="fab fa-linkedin-in"></i></a>
        </section>
        <!-- Company name & copyright -->
        <section>
            <p>Kennel39 <strong>&copy;</strong>2022</p>
        </section>
    </section>
</footer>