<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h1">Kennel39</h5>
      <span class="text-muted">Superior Dog Grooming.</span>
      <p class="text-muted">Est. 2022.</p>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Appointments</a>
        </li>
      </ul>

    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>