{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
</head>
<body>
    <section class="container-fluid h-100 d-inline-block g-0">
        <!-- Header -->
        <header>
            <!-- Navigation -->
            {% include 'includes/navbar.html' %}
        </header>

        {% block content %}
        <!-- Content -->
        {% endblock %}
        <!-- Footer -->
        {% include 'includes/footer.html' %}
    </section>

    <!-- Scripts -->
    {% include 'includes/scripts.html' %}
</body>
</html>