{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Navigation -->
        {% include 'includes/navbar.html' %}
    </header>
    <section class="container-fluid d-inline-block g-0">
        {% block content %}
        <!-- Content -->
        {% endblock %}
    </section>
    <!-- Footer -->
    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock %}
    <!-- Scripts -->
    {% include 'includes/scripts.html' %}
</body>
</html>