{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="d-flex flex-column justify-content-center align-items-center text-center h-100"> 
    <div class="row">
        <div class="col">
            <h1>Our Services</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Is your pooch having a <em><strong>ruff</strong></em> day?
        </div>
    </div>

    <div class="row">
        <div class="col">
            Are you being <em><strong>hounded</strong></em> for a treat?
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            A trip to <em><strong>The Kennel</strong></em> will be <em><strong>paws-itively</strong></em> satisfying!
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Each 1 hour session includes a brush, dip, clip and blow dry.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3> >>CAROUSEL GOES HERE<< </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4><em>Choose the breed that best matches the sizes of your favourite hound.</em></h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary">St. Bernard (large)</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">Retriever (medium)</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">Chihuahua (small)</button>
        </div>
    </div>

</section>

{% endblock %}